body {
    font-size: 36px;
    font-weight: 900;    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


 ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    align-items: center;
}

nav {
    background-color: #1f2937;
}

a { 
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
    text-decoration: none;
}

#sec {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header {
    color: #f9faf8;
    font-weight: 900;
    color: #f9faf8;   
    padding: 0 16px;
    background-color: #1f2937;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    }

.parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    gap: 24px;
    flex-wrap: nowrap;
}



.left {
    text-align: left;
    min-width: 0;
    padding: 20px;
    flex-basis: 500px;
    margin-bottom: 50px;
}

.right {
    display: flex;
    flex-basis: 500px;
   
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}
button { 
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 24px;  
}

button.signup {
    background-color: #3882F6;  
    color: white;
    border: 1px;
    align-self: start;
}




.mid {
    display: flex;
    justify-content: center;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
  width: 65%;
  min-height: 200px;
  border-color: #3882F6;
  border-width: 5px;
  text-align: center;
  min-width: 0;
  flex-wrap: wrap;
  
}


.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  margin-top: 10px;
  gap: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-color: #1f2937;
    color: white;
    font-weight: 100;
    font-size: 18px;
    padding: 20px;
}

span {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.text {
    text-align: center;
    font-size: 18px;
    max-width:  300px;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
   
    
}

.container2 {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 50px;
    margin-bottom: 100px;
    margin-left: 600px;
}

.thor {
    background-color: #e5e7eb;
    padding: 15px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.qtext {
    font-size: 36px;
    font-style: light italic;
    font-weight: 100;
    max-width: 1000px;
}

#qt {
    font-size: 36px;
    font-style: light italic;
    font-weight: 900;
}

.bottom {
    display: flex;
    background-color: #3882F6;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 10px;
    flex-direction: row;
}

.left2 {
    display: flex;
    text-align: left;
    min-width: 0;
    padding: 10px;
    margin-bottom: 50px;
    flex-direction: column;
    flex-basis: 1500px;
}

.right2 {
    display: flex;
    flex-basis: 900px;
    justify-content: flex-end;
    margin-right: 50px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.btext {
    font-size: medium;
    font-weight: 900;
    color: #f9faf8;
}

.ctext {
    font-weight: 200;
    font-size: small;
    color: #f9faf8;
}



button.sign {
    background-color: #3882F6;  
    color: white;
    border: 1px;
    border-color: #f9faf8;
    font-weight: 200;
    align-self: start;
    border: 2px solid white;
}