.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-size: 48px;
    font-weight: 900;
}



 ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    background-color: #1f2937;
    
}

a { 
    font-size: 18px;
    color: #e5e7eb;
}

#header {
    font-size: 24px;
    color: #f9faf8;
}

.logo {
    font-size: 24PX;
    color: #f9faf8;
}
button {
    background-color: #3882F6;  
    color: white;
    border-radius: 15px;
    padding: 5px;
    margin-left: 5px;
}

body {
    font-size: 36px;
    font-weight: 900;
    background-color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.cards {
    
}