


 ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;

    
}

a { 
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
    text-decoration: none;
    
}

.header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;   
    padding: 0 16px;
    background-color: #1f2937;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}
button { 
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 16px;  
}

button.signup {
    background-color: #3882F6;  
    color: white;
    border: 1px;
    align-self: start;
  
}

body {
    font-size: 36px;
    font-weight: 900;    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.cards {
    
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-color: #1f2937;
    color: white;
    font-weight: 100;
    font-size: 18px;
    padding: 20px;
}